*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

@import "partials/layout";
@import "partials/spacing";

html{
  scroll-behavior: smooth;
}

body{
  width: 100%;
  position: relative;

  background-color: rgb(0, 0, 0);

  &::-webkit-scrollbar{
    padding-right: 2px;
    width: 8px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background: rgb(0, 0, 0);
  }
}

.border{
  border: 1px solid green;
}

.hidden{
  overflow: hidden;
}

.relative{
  position: relative;
}

svg,img{
  width: 100%;
}
